@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Gilroy";
    font-weight: 300;
    src: url("/public/fonts/Gilroy-Light.otf");
  }
  @font-face {
    font-family: "Gilroy";
    font-weight: 400;
    src: url("/public/fonts/Gilroy-Regular.ttf");
  }
  @font-face {
    font-family: "Gilroy";
    font-weight: 500;
    src: url("/public/fonts/Gilroy-Medium.ttf");
  }
  @font-face {
    font-family: "Gilroy";
    font-weight: 600;
    src: url("/public/fonts/Gilroy-SemiBold.ttf");
  }
  @font-face {
    font-family: "Gilroy";
    font-weight: 700;
    src: url("/public/fonts/Gilroy-Bold.ttf");
  }
  @font-face {
    font-family: "Gilroy";
    font-weight: 800;
    src: url("/public/fonts/Gilroy-ExtraBold.otf");
  }
}

html {
  @apply bg-back;
}

.bg-image {
  @apply bg-center bg-no-repeat bg-cover;
}

.active a {
  @apply !text-laci;
}

.active span {
  @apply !bg-laci;
  box-shadow: 4px 0px 16px rgba(65, 98, 190, 0.6) !important;
}

.active svg path {
  @apply !fill-laci;
}

.logo {
  width: clamp(4rem, 10vw, 6rem);
  @apply lg:m-12 my-8 mx-2
}

.navbar li {
  @apply relative flex items-center;
}

.navbar li div {
  @apply flex w-full items-center justify-center py-3 lg:justify-start lg:pl-12 lg:pr-16 lg:gap-x-8
}

.navbar li span {
  @apply absolute left-0 top-0 h-full w-2 bg-transparent rounded-r-lg shadow-none;
}
